.clearfix,
.container,
.container-fluid,
.row {
  *zoom: 1; }
  .clearfix:after, .clearfix:before,
  .container:after,
  .container:before,
  .container-fluid:after,
  .container-fluid:before,
  .row:after,
  .row:before {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after,
  .container:after,
  .container-fluid:after,
  .row:after {
    clear: both; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
  *:after, *:before {
    box-sizing: border-box; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px; }
  @media (min-width: 544px) {
    .container {
      width: 100%; } }
  @media (min-width: 1199px) {
    .container {
      width: 1100px; } }
  @media (min-width: 1366px) {
    .container {
      width: 1260px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18 {
  float: left; }

.col-xs-1 {
  width: 5.55556%; }

.col-xs-2 {
  width: 11.11111%; }

.col-xs-3 {
  width: 16.66667%; }

.col-xs-4 {
  width: 22.22222%; }

.col-xs-5 {
  width: 27.77778%; }

.col-xs-6 {
  width: 33.33333%; }

.col-xs-7 {
  width: 38.88889%; }

.col-xs-8 {
  width: 44.44444%; }

.col-xs-9 {
  width: 50%; }

.col-xs-10 {
  width: 55.55556%; }

.col-xs-11 {
  width: 61.11111%; }

.col-xs-12 {
  width: 66.66667%; }

.col-xs-13 {
  width: 72.22222%; }

.col-xs-14 {
  width: 77.77778%; }

.col-xs-15 {
  width: 83.33333%; }

.col-xs-16 {
  width: 88.88889%; }

.col-xs-17 {
  width: 94.44444%; }

.col-xs-18 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 5.55556%; }

.col-xs-pull-2 {
  right: 11.11111%; }

.col-xs-pull-3 {
  right: 16.66667%; }

.col-xs-pull-4 {
  right: 22.22222%; }

.col-xs-pull-5 {
  right: 27.77778%; }

.col-xs-pull-6 {
  right: 33.33333%; }

.col-xs-pull-7 {
  right: 38.88889%; }

.col-xs-pull-8 {
  right: 44.44444%; }

.col-xs-pull-9 {
  right: 50%; }

.col-xs-pull-10 {
  right: 55.55556%; }

.col-xs-pull-11 {
  right: 61.11111%; }

.col-xs-pull-12 {
  right: 66.66667%; }

.col-xs-pull-13 {
  right: 72.22222%; }

.col-xs-pull-14 {
  right: 77.77778%; }

.col-xs-pull-15 {
  right: 83.33333%; }

.col-xs-pull-16 {
  right: 88.88889%; }

.col-xs-pull-17 {
  right: 94.44444%; }

.col-xs-pull-18 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 5.55556%; }

.col-xs-push-2 {
  left: 11.11111%; }

.col-xs-push-3 {
  left: 16.66667%; }

.col-xs-push-4 {
  left: 22.22222%; }

.col-xs-push-5 {
  left: 27.77778%; }

.col-xs-push-6 {
  left: 33.33333%; }

.col-xs-push-7 {
  left: 38.88889%; }

.col-xs-push-8 {
  left: 44.44444%; }

.col-xs-push-9 {
  left: 50%; }

.col-xs-push-10 {
  left: 55.55556%; }

.col-xs-push-11 {
  left: 61.11111%; }

.col-xs-push-12 {
  left: 66.66667%; }

.col-xs-push-13 {
  left: 72.22222%; }

.col-xs-push-14 {
  left: 77.77778%; }

.col-xs-push-15 {
  left: 83.33333%; }

.col-xs-push-16 {
  left: 88.88889%; }

.col-xs-push-17 {
  left: 94.44444%; }

.col-xs-push-18 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 5.55556%; }

.col-xs-offset-2 {
  margin-left: 11.11111%; }

.col-xs-offset-3 {
  margin-left: 16.66667%; }

.col-xs-offset-4 {
  margin-left: 22.22222%; }

.col-xs-offset-5 {
  margin-left: 27.77778%; }

.col-xs-offset-6 {
  margin-left: 33.33333%; }

.col-xs-offset-7 {
  margin-left: 38.88889%; }

.col-xs-offset-8 {
  margin-left: 44.44444%; }

.col-xs-offset-9 {
  margin-left: 50%; }

.col-xs-offset-10 {
  margin-left: 55.55556%; }

.col-xs-offset-11 {
  margin-left: 61.11111%; }

.col-xs-offset-12 {
  margin-left: 66.66667%; }

.col-xs-offset-13 {
  margin-left: 72.22222%; }

.col-xs-offset-14 {
  margin-left: 77.77778%; }

.col-xs-offset-15 {
  margin-left: 83.33333%; }

.col-xs-offset-16 {
  margin-left: 88.88889%; }

.col-xs-offset-17 {
  margin-left: 94.44444%; }

.col-xs-offset-18 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18 {
    float: left; }

  .col-sm-1 {
    width: 5.55556%; }

  .col-sm-2 {
    width: 11.11111%; }

  .col-sm-3 {
    width: 16.66667%; }

  .col-sm-4 {
    width: 22.22222%; }

  .col-sm-5 {
    width: 27.77778%; }

  .col-sm-6 {
    width: 33.33333%; }

  .col-sm-7 {
    width: 38.88889%; }

  .col-sm-8 {
    width: 44.44444%; }

  .col-sm-9 {
    width: 50%; }

  .col-sm-10 {
    width: 55.55556%; }

  .col-sm-11 {
    width: 61.11111%; }

  .col-sm-12 {
    width: 66.66667%; }

  .col-sm-13 {
    width: 72.22222%; }

  .col-sm-14 {
    width: 77.77778%; }

  .col-sm-15 {
    width: 83.33333%; }

  .col-sm-16 {
    width: 88.88889%; }

  .col-sm-17 {
    width: 94.44444%; }

  .col-sm-18 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 5.55556%; }

  .col-sm-pull-2 {
    right: 11.11111%; }

  .col-sm-pull-3 {
    right: 16.66667%; }

  .col-sm-pull-4 {
    right: 22.22222%; }

  .col-sm-pull-5 {
    right: 27.77778%; }

  .col-sm-pull-6 {
    right: 33.33333%; }

  .col-sm-pull-7 {
    right: 38.88889%; }

  .col-sm-pull-8 {
    right: 44.44444%; }

  .col-sm-pull-9 {
    right: 50%; }

  .col-sm-pull-10 {
    right: 55.55556%; }

  .col-sm-pull-11 {
    right: 61.11111%; }

  .col-sm-pull-12 {
    right: 66.66667%; }

  .col-sm-pull-13 {
    right: 72.22222%; }

  .col-sm-pull-14 {
    right: 77.77778%; }

  .col-sm-pull-15 {
    right: 83.33333%; }

  .col-sm-pull-16 {
    right: 88.88889%; }

  .col-sm-pull-17 {
    right: 94.44444%; }

  .col-sm-pull-18 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 5.55556%; }

  .col-sm-push-2 {
    left: 11.11111%; }

  .col-sm-push-3 {
    left: 16.66667%; }

  .col-sm-push-4 {
    left: 22.22222%; }

  .col-sm-push-5 {
    left: 27.77778%; }

  .col-sm-push-6 {
    left: 33.33333%; }

  .col-sm-push-7 {
    left: 38.88889%; }

  .col-sm-push-8 {
    left: 44.44444%; }

  .col-sm-push-9 {
    left: 50%; }

  .col-sm-push-10 {
    left: 55.55556%; }

  .col-sm-push-11 {
    left: 61.11111%; }

  .col-sm-push-12 {
    left: 66.66667%; }

  .col-sm-push-13 {
    left: 72.22222%; }

  .col-sm-push-14 {
    left: 77.77778%; }

  .col-sm-push-15 {
    left: 83.33333%; }

  .col-sm-push-16 {
    left: 88.88889%; }

  .col-sm-push-17 {
    left: 94.44444%; }

  .col-sm-push-18 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 5.55556%; }

  .col-sm-offset-2 {
    margin-left: 11.11111%; }

  .col-sm-offset-3 {
    margin-left: 16.66667%; }

  .col-sm-offset-4 {
    margin-left: 22.22222%; }

  .col-sm-offset-5 {
    margin-left: 27.77778%; }

  .col-sm-offset-6 {
    margin-left: 33.33333%; }

  .col-sm-offset-7 {
    margin-left: 38.88889%; }

  .col-sm-offset-8 {
    margin-left: 44.44444%; }

  .col-sm-offset-9 {
    margin-left: 50%; }

  .col-sm-offset-10 {
    margin-left: 55.55556%; }

  .col-sm-offset-11 {
    margin-left: 61.11111%; }

  .col-sm-offset-12 {
    margin-left: 66.66667%; }

  .col-sm-offset-13 {
    margin-left: 72.22222%; }

  .col-sm-offset-14 {
    margin-left: 77.77778%; }

  .col-sm-offset-15 {
    margin-left: 83.33333%; }

  .col-sm-offset-16 {
    margin-left: 88.88889%; }

  .col-sm-offset-17 {
    margin-left: 94.44444%; }

  .col-sm-offset-18 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18 {
    float: left; }

  .col-md-1 {
    width: 5.55556%; }

  .col-md-2 {
    width: 11.11111%; }

  .col-md-3 {
    width: 16.66667%; }

  .col-md-4 {
    width: 22.22222%; }

  .col-md-5 {
    width: 27.77778%; }

  .col-md-6 {
    width: 33.33333%; }

  .col-md-7 {
    width: 38.88889%; }

  .col-md-8 {
    width: 44.44444%; }

  .col-md-9 {
    width: 50%; }

  .col-md-10 {
    width: 55.55556%; }

  .col-md-11 {
    width: 61.11111%; }

  .col-md-12 {
    width: 66.66667%; }

  .col-md-13 {
    width: 72.22222%; }

  .col-md-14 {
    width: 77.77778%; }

  .col-md-15 {
    width: 83.33333%; }

  .col-md-16 {
    width: 88.88889%; }

  .col-md-17 {
    width: 94.44444%; }

  .col-md-18 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 5.55556%; }

  .col-md-pull-2 {
    right: 11.11111%; }

  .col-md-pull-3 {
    right: 16.66667%; }

  .col-md-pull-4 {
    right: 22.22222%; }

  .col-md-pull-5 {
    right: 27.77778%; }

  .col-md-pull-6 {
    right: 33.33333%; }

  .col-md-pull-7 {
    right: 38.88889%; }

  .col-md-pull-8 {
    right: 44.44444%; }

  .col-md-pull-9 {
    right: 50%; }

  .col-md-pull-10 {
    right: 55.55556%; }

  .col-md-pull-11 {
    right: 61.11111%; }

  .col-md-pull-12 {
    right: 66.66667%; }

  .col-md-pull-13 {
    right: 72.22222%; }

  .col-md-pull-14 {
    right: 77.77778%; }

  .col-md-pull-15 {
    right: 83.33333%; }

  .col-md-pull-16 {
    right: 88.88889%; }

  .col-md-pull-17 {
    right: 94.44444%; }

  .col-md-pull-18 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 5.55556%; }

  .col-md-push-2 {
    left: 11.11111%; }

  .col-md-push-3 {
    left: 16.66667%; }

  .col-md-push-4 {
    left: 22.22222%; }

  .col-md-push-5 {
    left: 27.77778%; }

  .col-md-push-6 {
    left: 33.33333%; }

  .col-md-push-7 {
    left: 38.88889%; }

  .col-md-push-8 {
    left: 44.44444%; }

  .col-md-push-9 {
    left: 50%; }

  .col-md-push-10 {
    left: 55.55556%; }

  .col-md-push-11 {
    left: 61.11111%; }

  .col-md-push-12 {
    left: 66.66667%; }

  .col-md-push-13 {
    left: 72.22222%; }

  .col-md-push-14 {
    left: 77.77778%; }

  .col-md-push-15 {
    left: 83.33333%; }

  .col-md-push-16 {
    left: 88.88889%; }

  .col-md-push-17 {
    left: 94.44444%; }

  .col-md-push-18 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 5.55556%; }

  .col-md-offset-2 {
    margin-left: 11.11111%; }

  .col-md-offset-3 {
    margin-left: 16.66667%; }

  .col-md-offset-4 {
    margin-left: 22.22222%; }

  .col-md-offset-5 {
    margin-left: 27.77778%; }

  .col-md-offset-6 {
    margin-left: 33.33333%; }

  .col-md-offset-7 {
    margin-left: 38.88889%; }

  .col-md-offset-8 {
    margin-left: 44.44444%; }

  .col-md-offset-9 {
    margin-left: 50%; }

  .col-md-offset-10 {
    margin-left: 55.55556%; }

  .col-md-offset-11 {
    margin-left: 61.11111%; }

  .col-md-offset-12 {
    margin-left: 66.66667%; }

  .col-md-offset-13 {
    margin-left: 72.22222%; }

  .col-md-offset-14 {
    margin-left: 77.77778%; }

  .col-md-offset-15 {
    margin-left: 83.33333%; }

  .col-md-offset-16 {
    margin-left: 88.88889%; }

  .col-md-offset-17 {
    margin-left: 94.44444%; }

  .col-md-offset-18 {
    margin-left: 100%; } }
@media (min-width: 1199px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18 {
    float: left; }

  .col-lg-1 {
    width: 5.55556%; }

  .col-lg-2 {
    width: 11.11111%; }

  .col-lg-3 {
    width: 16.66667%; }

  .col-lg-4 {
    width: 22.22222%; }

  .col-lg-5 {
    width: 27.77778%; }

  .col-lg-6 {
    width: 33.33333%; }

  .col-lg-7 {
    width: 38.88889%; }

  .col-lg-8 {
    width: 44.44444%; }

  .col-lg-9 {
    width: 50%; }

  .col-lg-10 {
    width: 55.55556%; }

  .col-lg-11 {
    width: 61.11111%; }

  .col-lg-12 {
    width: 66.66667%; }

  .col-lg-13 {
    width: 72.22222%; }

  .col-lg-14 {
    width: 77.77778%; }

  .col-lg-15 {
    width: 83.33333%; }

  .col-lg-16 {
    width: 88.88889%; }

  .col-lg-17 {
    width: 94.44444%; }

  .col-lg-18 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 5.55556%; }

  .col-lg-pull-2 {
    right: 11.11111%; }

  .col-lg-pull-3 {
    right: 16.66667%; }

  .col-lg-pull-4 {
    right: 22.22222%; }

  .col-lg-pull-5 {
    right: 27.77778%; }

  .col-lg-pull-6 {
    right: 33.33333%; }

  .col-lg-pull-7 {
    right: 38.88889%; }

  .col-lg-pull-8 {
    right: 44.44444%; }

  .col-lg-pull-9 {
    right: 50%; }

  .col-lg-pull-10 {
    right: 55.55556%; }

  .col-lg-pull-11 {
    right: 61.11111%; }

  .col-lg-pull-12 {
    right: 66.66667%; }

  .col-lg-pull-13 {
    right: 72.22222%; }

  .col-lg-pull-14 {
    right: 77.77778%; }

  .col-lg-pull-15 {
    right: 83.33333%; }

  .col-lg-pull-16 {
    right: 88.88889%; }

  .col-lg-pull-17 {
    right: 94.44444%; }

  .col-lg-pull-18 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 5.55556%; }

  .col-lg-push-2 {
    left: 11.11111%; }

  .col-lg-push-3 {
    left: 16.66667%; }

  .col-lg-push-4 {
    left: 22.22222%; }

  .col-lg-push-5 {
    left: 27.77778%; }

  .col-lg-push-6 {
    left: 33.33333%; }

  .col-lg-push-7 {
    left: 38.88889%; }

  .col-lg-push-8 {
    left: 44.44444%; }

  .col-lg-push-9 {
    left: 50%; }

  .col-lg-push-10 {
    left: 55.55556%; }

  .col-lg-push-11 {
    left: 61.11111%; }

  .col-lg-push-12 {
    left: 66.66667%; }

  .col-lg-push-13 {
    left: 72.22222%; }

  .col-lg-push-14 {
    left: 77.77778%; }

  .col-lg-push-15 {
    left: 83.33333%; }

  .col-lg-push-16 {
    left: 88.88889%; }

  .col-lg-push-17 {
    left: 94.44444%; }

  .col-lg-push-18 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 5.55556%; }

  .col-lg-offset-2 {
    margin-left: 11.11111%; }

  .col-lg-offset-3 {
    margin-left: 16.66667%; }

  .col-lg-offset-4 {
    margin-left: 22.22222%; }

  .col-lg-offset-5 {
    margin-left: 27.77778%; }

  .col-lg-offset-6 {
    margin-left: 33.33333%; }

  .col-lg-offset-7 {
    margin-left: 38.88889%; }

  .col-lg-offset-8 {
    margin-left: 44.44444%; }

  .col-lg-offset-9 {
    margin-left: 50%; }

  .col-lg-offset-10 {
    margin-left: 55.55556%; }

  .col-lg-offset-11 {
    margin-left: 61.11111%; }

  .col-lg-offset-12 {
    margin-left: 66.66667%; }

  .col-lg-offset-13 {
    margin-left: 72.22222%; }

  .col-lg-offset-14 {
    margin-left: 77.77778%; }

  .col-lg-offset-15 {
    margin-left: 83.33333%; }

  .col-lg-offset-16 {
    margin-left: 88.88889%; }

  .col-lg-offset-17 {
    margin-left: 94.44444%; }

  .col-lg-offset-18 {
    margin-left: 100%; } }
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: inline-block; }

.navbar {
  position: relative;
  padding: .5rem 1rem;
  clear: both;
  height: 50px;
  background-color: #f7f7f9; }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999; }

.navbar-fixed-top {
  top: 0; }

.navbar-fixed-bottom {
  bottom: 0; }

.navbar-brand {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem; }
  .navbar-brand > img {
    display: block; }

.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: none;
  border: 1px solid transparent; }

@media (min-width: 544px) {
  .navbar-toggleable-xs {
    display: block !important; } }
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    display: block !important; } }
@media (min-width: 992px) {
  .navbar-toggleable-md {
    display: block !important; } }

.navbar-nav .nav-item {
  float: left; }
.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem; }
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem; }
.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem; }

.fade {
  opacity: 0;
  transition: opacity .15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height; }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

.hidden-lg-down {
  display: none !important; }

/*Remove border when inside `a` element in IE 8/9/10.*/
img {
  border: 0; }

img {
  display: block;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

.img-rounded {
  border-radius: .3rem; }

.figure {
  margin: 1em 0;
  display: inline-block; }
  .figure .figure-img {
    margin-bottom: .5rem;
    line-height: 1; }
  .figure .figure-caption {
    font-size: 90%;
    color: #818a91; }

.center-block {
  margin: 0 auto;
  float: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-xs-left {
  float: left; }

.pull-sm-left {
  float: left; }

.pull-md-left {
  float: left; }

.pull-lg-left {
  float: left; }

.pull-xs-right {
  float: right; }

.pull-sm-right {
  float: right; }

.pull-md-right {
  float: right; }

.pull-lg-right {
  float: right; }

.txt-justify {
  text-align: justify; }

.txt-xs-left {
  text-align: left; }

.txt-xs-right {
  text-align: right; }

.txt-xs-center {
  text-align: center; }

.txt-sm-left {
  text-align: left; }

.txt-sm-right {
  text-align: right; }

.txt-sm-center {
  text-align: center; }

.txt-md-left {
  text-align: left; }

.txt-md-right {
  text-align: right; }

.txt-md-center {
  text-align: center; }

.txt-lg-left {
  text-align: left; }

.txt-lg-right {
  text-align: right; }

.txt-lg-center {
  text-align: center; }

.txt-upper {
  text-transform: uppercase; }

.txt-lower {
  text-transform: lowercase; }

.txt-capitalize {
  text-transform: capitalize; }

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse; }
  .table th,
  .table td {
    padding: 0.75rem;
    text-align: left;
    border-top: 1px solid #eceeef; }
  .table tr:hover {
    background: #f5f5f5; }

.table-bordered {
  border: 1px solid #eceeef;
  margin: 0.75rem 0; }
  .table-bordered th,
  .table-bordered td {
    padding: 0.75rem;
    text-align: left; }
  .table-bordered thead {
    background: #f5f5f5; }

.box {
  position: relative;
  display: block;
  border: 1px solid #e5e5e5;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem; }

.box-curved {
  border-radius: 0.25rem; }
  .box-curved .box-img-top {
    border-radius: 0.25rem 0.25rem 0 0; }
  .box-curved .box-img-bottom {
    border-radius: 0 0 0.25rem 0.25rem; }

.box-block {
  padding: 1.25rem; }

.box-title {
  margin-bottom: 1.25rem; }

.box-header {
  background: #f5f5f5;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #e5e5e5; }

.box-footer {
  background: #f5f5f5;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid #e5e5e5; }

.box-stack,
.box-stack-curved {
  border-radius: 0;
  display: table;
  width: 100%;
  table-layout: fixed; }

.box-stack .box,
.box-stack-curved .box {
  margin-bottom: 0;
  margin-top: 0; }

.box-stack-curved .box {
  border-radius: 0;
  display: table-cell;
  vertical-align: top; }
  .box-stack-curved .box:first-child {
    border-radius: 0.25rem 0 0 0.25rem; }
  .box-stack-curved .box:last-child {
    border-radius: 0 0.25rem 0.25rem 0; }

@media (max-width: 543px) {
  .box-stack-curved .box,
  .box-stack .box {
    display: block; } }
@media (min-width: 544px) {
  .box-seperator {
    display: table;
    border-spacing: 1.25rem 0;
    margin-left: -1.25rem;
    margin-right: -1.25rem; }
    .box-seperator .box {
      display: table-cell;
      width: 1%; }

  .box-seperator-wrapper {
    overflow: hidden; } }
.none {
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.h1 {
  font-size: 2.5rem; }

.h2 {
  font-size: 2rem; }

.h3 {
  font-size: 1.75rem; }

.h4 {
  font-size: 1.5rem; }

.h5 {
  font-size: 1.25rem; }

.h6 {
  font-size: 1rem; }

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 1rem 0 1rem 3rem; }

li {
  margin-bottom: 1rem; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }
  .list-inline-item:not(:last-child) {
    margin-right: 5px; }

a {
  color: #2199e8;
  text-decoration: none;
  cursor: pointer; }
  a:focus, a:hover {
    color: #1585cf;
    text-decoration: none; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5; }

input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 4px; }

input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .1rem;
  vertical-align: middle;
  user-select: none;
  outline: 0;
  padding: 0.475rem 1rem;
  font-size: 1rem;
  line-height: 1;
  border: 1px solid #DDDDDD; }

.btn-curved {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .1rem;
  vertical-align: middle;
  user-select: none;
  outline: 0;
  padding: 0.475rem 1rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 0.25rem;
  border: 1px solid #DDDDDD; }

.btn-set,
.btn-set-curved {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .btn-set::before, .btn-set::after,
  .btn-set-curved::before,
  .btn-set-curved::after {
    content: '';
    display: table; }
  .btn-set::after,
  .btn-set-curved::after {
    clear: both; }
  .btn-set input[type="button"],
  .btn-set [role="button"],
  .btn-set .btn,
  .btn-set button,
  .btn-set-curved input[type="button"],
  .btn-set-curved [role="button"],
  .btn-set-curved .btn,
  .btn-set-curved button {
    float: left;
    margin: 0;
    font-size: inherit; }
  .btn-set button,
  .btn-set .btn,
  .btn-set input[type="button"],
  .btn-set [role="button"]:not(:last-child),
  .btn-set-curved button,
  .btn-set-curved .btn,
  .btn-set-curved input[type="button"],
  .btn-set-curved [role="button"]:not(:last-child) {
    border-right: 1px solid #fefefe; }

.btn-set-curved .btn:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.btn-set-curved .btn:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex-container.row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .flex-container.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-container.column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .flex-container.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .flex-container.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex-container.justify-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .flex-container.justify-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex-container.justify-space-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify; }
  .flex-container.justify-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .flex-container.align-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .flex-container.align-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex-container.content-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .flex-container.content-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .flex-container.content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .flex-container.content-space-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between; }
  .flex-container.content-space-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }

@media (max-width: 767px) {
  .flex-container {
    height: auto !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .flex-container.row-reverse {
      -ms-flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .flex-container.align-end, .flex-container.align-center {
      align-items: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch; } }
.v-center {
  width: 100%;
  display: table;
  position: relative;
  text-align: center; }
  .v-center .v-centered-item {
    display: table-cell;
    vertical-align: middle;
    position: relative; }

.model-open {
  overflow: hidden; }

.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 90%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box; }
  .modal-box header,
  .modal-box .modal-header {
    padding: 1em 1.5em;
    border-bottom: 1px solid #ddd; }
    .modal-box header h3,
    .modal-box header h4,
    .modal-box .modal-header h3,
    .modal-box .modal-header h4 {
      margin: 0; }
  .modal-box .modal-body {
    padding: 2em 1.5em; }
  .modal-box footer,
  .modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right; }
  .modal-box a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb; }
  .modal-box a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease; }

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3) !important; }

@media (min-width: 768px) {
  .modal-box {
    width: 50%; } }
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer; }
  [data-tooltip]:before, [data-tooltip]:after,
  .tooltip:before,
  .tooltip:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    bottom: 100%;
    left: 50%;
    text-align: center; }
  [data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after,
  .tooltip:hover:before,
  .tooltip:hover:after,
  .tooltip:focus:before,
  .tooltip:focus:after {
    visibility: visible;
    opacity: 1;
    transform: translateY(-12px); }
  [data-tooltip]:before,
  .tooltip:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
    margin-left: -10px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: rgba(51, 51, 51, 0.9); }
  [data-tooltip]:after,
  .tooltip:after {
    z-index: 1000;
    padding: 8px;
    width: 150px;
    background-color: #000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    margin-left: -80px; }

.tooltip-left:before, .tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto; }
.tooltip-left:hover:before, .tooltip-left:hover:after, .tooltip-left:focus:before, .tooltip-left:focus:after {
  transform: translateX(-12px); }
.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: rgba(51, 51, 51, 0.9); }

.tooltip-right:before, .tooltip-right:after {
  bottom: 50%;
  left: 100%; }
.tooltip-right:hover:before, .tooltip-right:hover:after, .tooltip-right:focus:before, .tooltip-right:focus:after {
  transform: translateX(12px); }
.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: rgba(51, 51, 51, 0.9); }

.tooltip-bottom:before, .tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%; }
.tooltip-bottom:hover:before, .tooltip-bottom:hover:after, .tooltip-bottom:focus:before, .tooltip-bottom:focus:after {
  transform: translateY(12px); }
.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(51, 51, 51, 0.9); }

.tooltip-left:before,
.tooltip-right:before {
  top: 3px; }

.btn.tooltip-left:before,
.btn.tooltip-right:before {
  top: 11px; }

.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.475rem 1rem;
  font-size: 1rem;
  line-height: 1;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cacaca;
  outline: 0; }

.form-curved {
  border-radius: 0.25rem; }

.form-set {
  margin-bottom: 1rem; }

::-webkit-input-placeholder {
  color: #CECECE;
  opacity: 1; }

::-moz-input-placeholder {
  color: #CECECE;
  opacity: 1; }

::-ms-input-placeholder {
  color: #CECECE;
  opacity: 1; }

::placeholder {
  color: #CECECE;
  opacity: 1; }

.sl-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }
  .sl-wrapper img {
    max-width: 100%;
    display: block; }
  .sl-wrapper .sl-pager,
  .sl-wrapper .sl-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%; }
  .sl-wrapper .sl-pager {
    text-align: center;
    font-size: .85em;
    font-weight: bold;
    color: #666;
    padding-top: 20px; }
    .sl-wrapper .sl-pager.sl-default-pager a {
      background: #666;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      outline: 0;
      border-radius: 5px; }
      .sl-wrapper .sl-pager.sl-default-pager a:hover, .sl-wrapper .sl-pager.sl-default-pager a.active {
        background: #000; }
  .sl-wrapper .sl-pager .sl-pager-item,
  .sl-wrapper .sl-controls-auto .sl-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
  .sl-wrapper .sl-prev {
    left: 30px;
    background: url(../images/controls.png) no-repeat 0 -32px; }
    .sl-wrapper .sl-prev:hover {
      background-position: 0 0; }
  .sl-wrapper .sl-next {
    right: 30px;
    background: url(../images/controls.png) no-repeat -43px -32px; }
    .sl-wrapper .sl-next:hover {
      background-position: -43px 0; }
  .sl-wrapper .sl-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999; }
    .sl-wrapper .sl-controls-direction a.disabled {
      display: none; }

.popover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7001;
  display: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  max-width: 300px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px; }
  .popover .arrow,
  .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .popover .arrow {
    border-width: 11px; }
    .popover .arrow:after {
      content: "";
      border-width: 10px; }

.popover.top {
  margin-bottom: 10px; }
  .popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #aaa;
    border-bottom-width: 0; }
    .popover.top .arrow:after {
      bottom: 1px;
      margin-left: -10px;
      border-top-color: #fff;
      border-bottom-width: 0; }

.popover.right {
  margin-left: 10px; }
  .popover.right .arrow {
    left: -11px;
    top: 50%;
    margin-top: -11px;
    border-right-color: #aaa;
    border-left-width: 0; }
    .popover.right .arrow:after {
      left: 1px;
      margin-top: -10px;
      border-right-color: #fff;
      border-left-width: 0; }

.popover.bottom {
  margin-top: 10px; }
  .popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #aaa;
    border-top-width: 0; }
    .popover.bottom .arrow:after {
      top: 1px;
      margin-left: -10px;
      border-bottom-color: #fff;
      border-top-width: 0; }

.popover.left {
  margin-right: 10px; }
  .popover.left .arrow {
    right: -11px;
    top: 50%;
    margin-top: -11px;
    border-left-color: #aaa;
    border-right-width: 0; }
    .popover.left .arrow:after {
      right: 1px;
      margin-top: -10px;
      border-left-color: #fff;
      border-right-width: 0; }

.popover_title {
  padding: 8px 12px;
  margin: 0;
  font-weight: bold;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0; }

.popover_content {
  padding: 17px 12px;
  margin: 0; }

.triggers {
  margin: 100px 0 0 200px; }

.dropdown {
  position: relative; }

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: .25rem;
  margin-left: .25rem;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent; }
.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.open-drop {
  display: block; }

.dropdown-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0; }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5; }
  .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
  .dropdown-item.disabled, .dropdown-item.disabled:focus, .dropdown-item.disabled:hover {
    color: #818a91; }
  .dropdown-item.disabled:focus, .dropdown-item.disabled:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }

.dropdown-menu > a {
  outline: 0;
  text-decoration: none; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: .875rem;
  line-height: 1.5;
  color: #818a91;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.input-set {
  position: relative;
  display: table;
  border-collapse: separate; }

.form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%; }

.input-set-addon {
  padding: 0.475rem 1rem;
  background: #DDDDDD;
  border: 1px solid #DDDDDD; }

.input-set-addon,
.input-set-btn,
.input-set .form-control {
  display: table-cell; }

.input-set-addon,
.input-set-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-set-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap; }
  .input-set-btn > .btn {
    position: relative;
    border: 1px solid #DDDDDD;
    line-height: 1.15; }
    .input-set-btn > .btn + .btn {
      margin-left: -1px; }
  .input-set-btn:first-child > .btn,
  .input-set-btn:first-child > .btn-set {
    margin-right: -1px; }
  .input-set-btn:last-child > .btn,
  .input-set-btn:last-child > .btn-set {
    z-index: 2;
    margin-left: -1px; }

.tabs-menu {
  float: left;
  clear: both; }

.tabs-menu li {
  line-height: 30px;
  float: left;
  margin-right: 2px;
  background-color: #ccc;
  border: 1px solid #d4d4d1;
  border-bottom: none; }

.tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 5; }

.tabs-menu li a {
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }

.tabs-menu .current a {
  color: #2e7da3; }

.tab {
  border: 1px solid #d4d4d1;
  background-color: #fff;
  float: left;
  margin-bottom: 20px; }

.tab-content {
  padding: 20px;
  display: none; }

#tab-1 {
  display: block; }

/*# sourceMappingURL=main.css.map */
