.center-block {
    margin: 0 auto;
    float: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
@each $break in map-keys($grid-breakpoint) {
    .pull-#{$break}-left {
        float: left
    }
}
@each $break in map-keys($grid-breakpoint) {
    .pull-#{$break}-right {
        float: right
    }
}
.txt-justify {
    text-align: justify
}
@each $break in map-keys($grid-breakpoint) {
    .txt-#{$break}-left {
        text-align: left
    }
    .txt-#{$break}-right {
        text-align: right
    }
    .txt-#{$break}-center {
        text-align: center
    }
}
.txt-upper {
    text-transform: uppercase
}
.txt-lower {
    text-transform: lowercase
}
.txt-capitalize {
    text-transform: capitalize
}
