.box {
    position: relative;
    display: block;
    border: $box-border-width solid $box-border-color;
    margin-bottom: $box-space;
    margin-top: $box-space;
}

.box-curved {
    border-radius: $box-border-radius;
    .box-img-top {
        border-radius: $box-border-radius $box-border-radius 0 0;
    }
    .box-img-bottom {
        border-radius: 0 0 $box-border-radius $box-border-radius;
    }
}

.box-block {
    padding: $box-space;
}

.box-title {
    margin-bottom: $box-space;
}

.box-header {
    background: #f5f5f5;
    padding: 0.75rem $box-space;
    border-bottom: $box-border-width solid $box-border-color;
}

.box-footer {
    background: #f5f5f5;
    padding: 0.75rem $box-space;
    border-top: $box-border-width solid $box-border-color;
}

.box-stack,
.box-stack-curved {
    border-radius: 0;
    //    display: flex;
    //    flex-wrap: wrap;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.box-stack .box,
.box-stack-curved .box {
    margin-bottom: 0;
    margin-top: 0;
}

.box-stack-curved .box {
    border-radius: 0;
    display: table-cell;
    vertical-align: top;
    &:first-child {
        border-radius: $box-border-radius 0 0 $box-border-radius;
    }
    &:last-child {
        border-radius: 0 $box-border-radius $box-border-radius 0;
    }
}

@include media-breakpoint-down(xs) {
    .box-stack-curved .box,
    .box-stack .box {
        display: block;
    }
}

@include media-breakpoint-up(sm) {
    .box-seperator {
        display: table;
        border-spacing: $box-space 0;
        margin-left: -$box-space;
        margin-right: -$box-space;
        .box {
            display: table-cell;
            width: 1%;
        }
    }
    .box-seperator-wrapper {
        overflow: hidden;
    }
}

@include none;
