input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
button {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 4px;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
.btn {
    @include pure-btn;
   border: $btn-border-width solid $btn-bg;
}
.btn-curved {
    @include pure-btn;
    border-radius: $btn-border-radius;
    border: $btn-border-width solid $btn-bg;
}
