.btn-set,
.btn-set-curved {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &::before,
    &::after {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
    input[type="button"],
    [role="button"],
    .btn,
    button {
        float: left;
        margin: 0;
        font-size: inherit;
    }
    button,
    .btn,
    input[type="button"],
    [role="button"]:not(:last-child) {
        border-right: $border-width solid #fefefe;
    }
}

.btn-set-curved {
    .btn {
        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
    }
}

.btn-set-curved {
    .btn {
        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}