.flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    &.row-reverse {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    &.flex-column {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    &.column-reverse {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    &.no-wrap {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    &.wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &.justify-end {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    &.justify-center {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    &.justify-space-between {
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
    }
    &.justify-space-around {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    &.align-end {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    &.align-center {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    &.content-start {
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    &.content-end {
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    &.content-center {
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    &.content-space-between {
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    &.content-space-around {
        -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
}

@include media-breakpoint-down(sm) {
    .flex-container {
        height: auto !important;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        &.row-reverse {
            -ms-flex-direction: column-reverse;
            -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
        &.align-end,
        &.align-center {
            align-items: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
        }
    }
}