.form-control {
    @include form-main;
}

.form-curved {
    border-radius: $border-radius;
}

.form-set {
    margin-bottom: 1rem;
}

@each $item in $prefix {
    ::-#{$item}-input-placeholder {
        @include placeholder;
    }
}

::placeholder {
    @include placeholder;
}