/*Remove border when inside `a` element in IE 8/9/10.*/

img {
    border: 0;
}
img {
    display: block;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
.img-rounded {
    border-radius: .3rem;
}
.figure {
    margin: 1em 0;
    display: inline-block;
    .figure-img {
        margin-bottom: .5rem;
        line-height: 1;
    }
    .figure-caption {
        font-size: 90%;
        color: $fig-caption-color;
    }
}
