.input-set {
    position: relative;
    display: table;
    border-collapse: separate;
}

.form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    //    margin-bottom: 1rem;
}

.input-set-addon {
    padding: $btn-padding-y $btn-padding-x;
    background: $input-color;
    border: $border-width solid $input-color;
}

.input-set-addon,
.input-set-btn,
.input-set .form-control {
    display: table-cell;
    //        &:not(: first-child):not(: last-child) {
    //        border-radius: 0;
    //     &:not(: first-child):not(: last-child) {
    //        border-radius: 0;
    //    }   }
}

.input-set-addon,
.input-set-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-set-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    > .btn {
        position: relative;
        border: $border-width solid $input-color;
        line-height: 1.15;
        + .btn {
            margin-left: (-$border-width);
        }
    }
    // Negative margin to only have a single, shared border between the two
    &:first-child {
        > .btn,
        > .btn-set {
            margin-right: (-$border-width);
        }
    }
    &:last-child {
        > .btn,
        > .btn-set {
            z-index: 2;
            margin-left: (-$border-width);
        }
    }
}