.v-center {
    width: 100%;
    display: table;
    position: relative;
    text-align: center;
    .v-centered-item {
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }
}

.model-open {
    overflow: hidden;
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 90%;
    background: white;
    border-bottom: $model-border-width solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: $model-border-width solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    header,
    .modal-header {
        padding: 1em 1.5em;
        border-bottom: $model-border-width solid $model-border-inner-color;
        h3,
        h4 {
            margin: $model-null;
        }
    }
    .modal-body {
        padding: 2em 1.5em;
    }
    footer,
    .modal-footer {
        padding: 1em;
        border-top: $model-border-width solid $model-border-inner-color;
        background: rgba(0, 0, 0, 0.02);
        text-align: right;
    }
    a.close {
        line-height: 1;
        font-size: 1.5em;
        position: absolute;
        top: 5%;
        right: 2%;
        text-decoration: none;
        color: #bbb;
    }
    a.close:hover {
        color: #222;
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        transition: color 1s ease;
    }
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: $model-null;
    right: $model-null;
    bottom: $model-null;
    left: $model-null;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3) !important;
}

@include media-breakpoint-up(md) {
    .modal-box {
        width: 50%;
    }
}