.tabs-menu {
    float: left;
    clear: both;
}

.tabs-menu li {
    line-height: 30px;
    float: left;
    margin-right: 2px;
    background-color: #ccc;
    border: 1px solid #d4d4d1;
    border-bottom: none;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
}

.tab-content {
    padding: 20px;
    display: none;
}

#tab-1 {
    display: block;

}
