.popover {
    position: absolute;
    left: $popover-null;
    top: $popover-null;
    z-index: 7001;
    display: none;
    padding: $popover-null;
    margin: $popover-null;
    min-width: 150px;
    max-width: 300px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    .arrow,
    .arrow:after {
        position: absolute;
        display: block;
        width: $popover-null;
        height: $popover-null;
        border-color: transparent;
        border-style: solid;
    }
    .arrow {
        border-width: 11px;
        &:after {
            content: "";
            border-width: 10px;
        }
    }
}
.popover.top {
    margin-bottom: $popover-spacer-y;
    .arrow {
        bottom: -$popover-spacer-x;
        left: 50%;
        margin-left: -$popover-spacer-x;
        border-top-color: #aaa;
        border-bottom-width: $popover-null;
        &:after {
            bottom: 1px;
            margin-left: -$popover-spacer-y;
            border-top-color: #fff;
            border-bottom-width: $popover-null;
        }
    }
}
.popover.right {
    margin-left: $popover-spacer-y;
    .arrow {
        left: -$popover-spacer-x;
        top: 50%;
        margin-top: -$popover-spacer-x;
        border-right-color: #aaa;
        border-left-width: $popover-null;
        &:after {
            left: 1px;
            margin-top: -$popover-spacer-y;
            border-right-color: #fff;
            border-left-width: $popover-null;
        }
    }
}
.popover.bottom {
    margin-top: $popover-spacer-y;
    .arrow {
        top: -$popover-spacer-x;
        left: 50%;
        margin-left: -$popover-spacer-x;
        border-bottom-color: #aaa;
        border-top-width: $popover-null;
        &:after {
            top: 1px;
            margin-left: -$popover-spacer-y;
            border-bottom-color: #fff;
            border-top-width: $popover-null;
        }
    }
}
.popover.left {
    margin-right: $popover-spacer-y;
    .arrow {
        right: -$popover-spacer-x;
        top: 50%;
        margin-top: -$popover-spacer-x;
        border-left-color: #aaa;
        border-right-width: $popover-null;
        &:after {
            right: 1px;
            margin-top: -$popover-spacer-y;
            border-left-color: #fff;
            border-right-width: $popover-null;
        }
    }
}
.popover_title {
    padding: 8px 12px;
    margin: $popover-null;
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
}
.popover_content {
    padding: 17px 12px;
    margin: $popover-null;
}
.triggers {
    margin: 100px $popover-null $popover-null 200px;
}
