.sl-wrapper {
    position: relative;
    margin: $slider-null auto 60px;
    padding: $slider-null;
    *zoom: 1;
    img {
        max-width: $slider-max;
        display: block;
    }
    .sl-pager,
    .sl-controls-auto {
        position: absolute;
        bottom: -30px;
        width: $slider-max;
    }
    .sl-pager {
        text-align: center;
        font-size: .85em;
        font-weight: bold;
        color: #666;
        padding-top: $gutter-width;
        &.sl-default-pager {
            a {
                background: #666;
                text-indent: -9999px;
                display: block;
                width: $gutter-width/2;
                height: $gutter-width/2;
                margin: $slider-null 5px;
                outline: $slider-null;
                border-radius: 5px;
                &:hover,
                &.active {
                    background: #000;
                }
            }
        }
    }
    .sl-pager .sl-pager-item,
    .sl-controls-auto .sl-controls-auto-item {
        display: inline-block;
        *zoom: 1;
        *display: inline;
    }
    .sl-prev {
        left: 30px;
        background: url(../images/controls.png) no-repeat 0 -32px;
        &:hover {
            background-position: 0 0;
        }
    }
    .sl-next {
        right: 30px;
        background: url(../images/controls.png) no-repeat -43px -32px;
        &:hover {
            background-position: -43px 0;
        }
    }
    .sl-controls-direction {
        a {
            position: absolute;
            top: $slider-max/2;
            margin-top: -16px;
            outline: $slider-null;
            width: 32px;
            height: 32px;
            text-indent: -9999px;
            z-index: 9999;
            &.disabled {
                display: none;
            }
        }
    }
}