@mixin table-render {
    padding: 0.75rem;
    text-align: left;
  
}
.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    th,
    td {
        @include table-render;
        border-top: 1px solid $table-border-color
    }
    tr:hover {
        background: $table-hover-color
    }
}
.table-bordered {
    border: 1px solid $table-border-color;
      margin: 0.75rem 0;
    th,
    td {
        @include table-render;
    }
    thead {
        background: $table-hover-color
    }
}
