[data-tooltip],
.tooltip {
    position: relative;
    cursor: pointer;
    &:before,
    &:after {
        position: absolute;
        visibility: hidden;
        opacity: $tooltip-null;
        transform: translate3d(0, 0, 0);
        pointer-events: none;
        //top
        bottom: 100%;
        left: 50%;
        text-align: center;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        visibility: visible;
        opacity: 1;
        transform: translateY(-$tooltip-spacer);
    }
    &:before {
        z-index: 1001;
        border: 6px solid $tooltip-transparent;
        background: $tooltip-transparent;
        content: "";
        //        top
        margin-left: -10px;
        margin-bottom: -$tooltip-spacer;
        border-top-color: $tooltip-hex-color;
        border-top-color: $tooltip-rgb-color;
    }
    &:after {
        z-index: 1000;
        padding: 8px;
        width: 150px;
        background-color: $tooltip-hex-color;
        background-color: $tooltip-rgb-color;
        color: #fff;
        content: attr(data-tooltip);
        font-size: 14px;
        line-height: 1.2;
        //top
        margin-left: -80px;
    }
}

.tooltip-left {
    &:before,
    &:after {
        right: 100%;
        bottom: 50%;
        left: auto;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        transform: translateX(-$tooltip-spacer);
    }
    &:before {
        margin-left: $tooltip-null;
        margin-right: -$tooltip-spacer;
        margin-bottom: $tooltip-null;
        border-top-color: $tooltip-transparent;
        border-left-color: $tooltip-hex-color;
        border-left-color: $tooltip-rgb-color;
    }
}

.tooltip-right {
    &:before,
    &:after {
        bottom: 50%;
        left: 100%;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        transform: translateX($tooltip-spacer);
    }
    &:before {
        margin-bottom: $tooltip-null;
        margin-left: -$tooltip-spacer;
        border-top-color: $tooltip-transparent;
        border-right-color: $tooltip-hex-color;
        border-right-color: $tooltip-rgb-color;
    }
}

.tooltip-bottom {
    &:before,
    &:after {
        top: 100%;
        bottom: auto;
        left: 50%;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        transform: translateY($tooltip-spacer);
    }
    &:before {
        margin-top: -$tooltip-spacer;
        margin-bottom: $tooltip-null;
        border-top-color: $tooltip-transparent;
        border-bottom-color: $tooltip-hex-color;
        border-bottom-color: $tooltip-rgb-color;
    }
}

.tooltip-left:before,
.tooltip-right:before {
    top: 3px;
}
.btn.tooltip-left:before,
.btn.tooltip-right:before {
    top: 11px;
}

.tooltip-left:after,
.tooltip-right:after {
    margin-left: $tooltip-null;
    margin-bottom: -16px;
}