//Headings...........
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: $headings-margin-bottom;
    font-weight: $headings-font-weight;
    font-style: $headings-font-style;
    line-height: $headings-line-height;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

.h1 {
    font-size: $font-size-h1;
}

.h2 {
    font-size: $font-size-h2;
}

.h3 {
    font-size: $font-size-h3;
}

.h4 {
    font-size: $font-size-h4;
}

.h5 {
    font-size: $font-size-h5;
}

.h6 {
    font-size: $font-size-h6;
}

//Horizontal Rule...........
hr {
    box-sizing: content-box;
    height: $hr-border-null;
    border: $hr-border-null;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    border-top: $hr-border-width solid $hr-border-color;
}

//Lists..........
ol,
ul,
dl {
    margin-top: $list-margin-null;
    margin-bottom: $list-margin-value;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin: $list-margin-value $list-margin-null $list-margin-value 3rem;
}

li {
    margin-bottom: $list-margin-value;
}

.list-unstyled {
    @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
    @include list-unstyled;
}

.list-inline-item {
    display: inline-block;
    &:not(:last-child) {
        margin-right: $list-inline-padding;
    }
}

//Anchor Tags..........
a {
    color: #2199e8;
    text-decoration: none;
    cursor: pointer;
    &:focus,
    &:hover {
        color: #1585cf;
        text-decoration: none;
    }
}

//Paragraph Tags..........
p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}