$grid-column:18;
$gutter-width:20px;
//container-width
$container-max-widths: 100% 1100px 1260px;
//breakpoints
$grid-breakpoints: xs sm md lg;
$grid-breakpoint: ( xs: 0, sm: 544px, md: 768px, lg: 992px) !default;
$fig-caption-color: #818a91;
//Default Common Styles
$border-width:1px;
$font-weight:normal;
$line-height:1;
$font-size-base:1rem;
$border-radius:.25rem;
$prefix: webkit moz ms;
$padding-y:.475rem;
$padding-x:1rem;
//Headings
$headings-margin-bottom:0.5rem;
$headings-font-weight:500;
$headings-font-style:normal;
$headings-line-height:1.1;
//Font-Size
$font-size-h1:2.5rem;
$font-size-h2:2rem;
$font-size-h3:1.75rem;
$font-size-h4:1.5rem;
$font-size-h5:1.25rem;
$font-size-h6:1rem;
//hr
$hr-border-color: rgba(0, 0, 0, .1);
$hr-border-width: $border-width;
$hr-border-null:0;
//List
$list-inline-padding:5px;
$list-margin-null:0;
$list-margin-value:1rem;
//Buttons
$btn-font-weight:$font-weight;
$btn-border-width:$border-width;
$btn-padding-x: 1rem;
$btn-padding-y: .475rem;
$btn-border-radius:$border-radius;
$btn-bg:#DDDDDD;
//table
$table-border-color:#eceeef;
$table-hover-color:#f5f5f5;
//box
$box-border-color:#e5e5e5;
$box-border-width:$border-width;
$box-border-radius:$border-radius;
$box-space:1.25rem;
//model
$model-border-width:$border-width;
$model-border-inner-color:#ddd;
$model-null:0;
//tooltip
$tooltip-hex-color:#000;
$tooltip-rgb-color:hsla(0, 0%, 20%, 0.9);
$tooltip-null:$model-null;
$tooltip-spacer:12px;
$tooltip-transparent:transparent;
//slider
$slider-null:$model-null;
$slider-max:100%;
//popover
$popover-null:$model-null;
$popover-spacer-x:11px;
$popover-spacer-y:($popover-spacer-x)-1;
//input-group
$input-color:$btn-bg;