$break-wide: 1366px;
$break-large: 1199px;
$break-medium: 992px;
$break-tablet: 768px;
$break-small: 544px;
@mixin respond-to($media) {
    @if $media==handhelds {
        @media (min-width: $break-small) {
            @content;
        }
    }
    @else if $media==tablet {
        @media (min-width: $break-tablet) {
            @content;
        }
    }
    @else if $media==medium-screens {
        @media (min-width: $break-medium) {
            @content;
        }
    }
    @else if $media==large-screens {
        @media (min-width: $break-large) {
            @content;
        }
    }
    @else if $media==wide-screens {
        @media (min-width: $break-wide) {
            @content;
        }
    }
}
@function breakpoint-next($name, $breakpoints: $grid-breakpoint, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}
@function breakpoint-min($name, $breakpoints: $grid-breakpoint) {
    $min: map-get($breakpoints, $name);
    @return if($min !=0, $min, null);
}
@function breakpoint-max($name, $breakpoints: $grid-breakpoint) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoint) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }
    @else {
        @content;
    }
}
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoint) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }
    @else {
        @content;
    }
}
