@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    line-height: $line-height;
}
@mixin pure-btn {
    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    letter-spacing: .1rem;
    vertical-align: middle;
    user-select: none;
    outline: 0;
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height);
}