@mixin clearfix() {
    //        &::after {
    //        content: "";
    //        display: table;
    //        clear: both;
    //    }
    .clearfix,
    .container,
    .container-fluid,
    .row {
       
        *zoom: 1;
        &:after,
        &:before {
            content: "";
            display: table;
            line-height: 0;
        }
        &:after {
            clear: both;
        }
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        &:after,
        &:before {
            box-sizing: border-box;
        }
    }
}
@include clearfix();
