@mixin form-main {
    display: block;
    width: 100%;
    padding: $padding-y $padding-x;
    font-size: $font-size-base;
    line-height: $line-height;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: $border-width solid #cacaca;
    //    margin-bottom: 1rem;
    outline: 0;
}

@mixin placeholder {
    color: #CECECE;
    opacity: 1;
}