$list:'';
@mixin make-columns($break: $grid-breakpoints, $gutter:$gutter-width, $columns:$grid-column) {
    %grid-class {
        position: relative;
        min-height: 1px;
        padding-left: ($gutter/2);
        padding-right: ($gutter/2);
    }
    @each $brk in $break {
        $key: nth($brk, 1);
        @for $i from 1 through $columns {
            .col-#{$key}-#{$i} {
                @extend %grid-class;
            }
        }
    }
}
$columns:18;
$arr:'';
@mixin col-x-list($target) {
    @for $i from 1 through $columns {
        $arr: '.col-'+$target+'-'+$i +',';
        $list: $list+ $arr;
        @if($i==$columns) {
            #{nth($list,1)} {
                float: left;
            }
        }
    }
}
@mixin col-w-list($target) {
    @include col-x-list($target);
    @for $i from 1 through $columns {
        .col-#{$target}-#{$i} {
            width: percentage($i / $columns);
        }
    }
    @for $i from 0 through $columns {
        @if ($i==0) {
            .col-#{$target}-pull-#{$i} {
                right: auto;
            }
        }
        @else {
            .col-#{$target}-pull-#{$i} {
                right: percentage($i / $columns);
            }
        }
    }
    @for $i from 0 through $columns {
        @if ($i==0) {
            .col-#{$target}-push-#{$i} {
                left: auto;
            }
        }
        @else {
            .col-#{$target}-push-#{$i} {
                left: percentage($i / $columns);
            }
        }
    }
    @for $i from 0 through $columns {
        .col-#{$target}-offset-#{$i} {
            margin-left: percentage($i / $columns);
        }
    }
}
@mixin w_xs() {
    @include col-w-list('xs');
}
@mixin w_sm() {
    @include respond-to(tablet) {
        @include col-w-list('sm');
    }
}
@mixin w_md() {
    @include respond-to(medium-screens) {
        @include col-w-list('md');
    }
}
@mixin w_lg() {
    @include respond-to(large-screens) {
        @include col-w-list('lg');
    }
}
